.header__wrapper_black {
  padding: 30px 0; 
  background: #000000;
}

.header__wrapper_gray {
  padding: 23px 0 21px;
  background: rgba(0, 0, 0, 0.4);
}

.logo {
  width: 173px;
  height: 40px;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form__btn {
  display: flex;
  margin-right: 9px;
}

.search-form__icon > path,
.search-form__icon > rect {
  transition: fill 0.3s ease-in-out;
}

.search-form__input {
  height: 26px;
  width: 218px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  font-size: 18px;
  line-height: 25px;
  transition: border-color 0.3s ease-in-out;
}

.search-form__input,
.search-form__input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.search-form__icon:active > path,
.search-form__icon:active > rect {
  fill: var(--link-color-active);
}

.main-navigation {
	display: flex;
	align-items: center;
}

.main-navigation__search-form {
  display: none;
}

.main-navigation__search-form:hover > .search-form__input,
.main-navigation__search-form:hover > .search-form__btn > .search-form__icon > path,
.main-navigation__search-form:hover > .search-form__btn > .search-form__icon > rect {
  border-color: var(--link-color);
  fill: var(--link-color);
}

.main-navigation__logo {
  margin-right: 180px;
}

.main-navigation__burger {
  display: none;
}

.main-navigation__site-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.site-navigation {
  display: flex;
}

.site-navigation__wrapper {
  display: flex;
  font-size: 18px;
  color: var(--text-color-accent);
}

.site-navigation__link {
  font-weight: 600;
}

.site-navigation__link,
.dropdown__btn {
  transition: color 0.3s ease-in-out;
}

.site-navigation__link:hover,
.dropdown__btn:hover {
  color: var(--link-color);
}

.site-navigation__link:active,
.dropdown__btn:active {
  color: var(--link-color-active);
  outline: none;
}

.site-navigation__item:not(:last-child) {
  margin-right: 62px;
}

.site-navigation__log-in-btn {
  font-size: 18px;
  color: var(--text-color-accent);
}

.log-in-btn {
  transition: color 0.3s ease-in-out;
}

.log-in-btn:hover {
  color: var(--link-color);
}

.log-in-btn:active {
  color: var(--link-color-active);
  outline: none;
}

.log-in-btn__icon {
  height: 13px;
  width: 13px;
}

.log-in-btn__icon > path {
  transition: fill 0.3s ease-in-out;
}

.log-in-btn:hover > .log-in-btn__icon > path {
  fill: var(--link-color);
}

.log-in-btn:active > .log-in-btn__icon > path {
  fill: var(--link-color-active);
  outline: none;
}

.header__secondary-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.secondary-navigation {
  display: flex;
}

.secondary-navigation__item {
  position: relative;
  line-height: 1;
}

.secondary-navigation__item:not(:last-child) {
  margin-right: 128px;
}

.secondary-navigation__search-form {
  display: flex;
  align-items: center;
}

.dropdown__btn {
  color: var(--text-color-accent);
}

/* .dropdown__btn::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 2px;
  height: 7px;
  width: 7px;
  border-color: transparent transparent #FFFFFF #FFFFFF;
  border-width: 1px;
  border-style: solid;
  transform: rotate(-45deg);
  transition: border-color 0.3s ease-in-out, margin-top 0.3s ease-in-out;
}
*/

.dropdown__icon {
  vertical-align: middle;
  transition: transform 0.2s ease-in-out;
}

.dropdown__icon > path {
  transition: stroke 0.3s ease-in-out;
}

.dropdown__btn:hover .dropdown__icon > path {
  stroke: var(--link-color);
}

.dropdown__btn:active .dropdown__icon > path {
  stroke: var(--link-color-active);
}

.dropdown__icon_active {
  transform: translateY(-1px) rotate(180deg);
}

.scroll-container {
  visibility: hidden;
  opacity: 0;
  width: 300px;
  height: 300px;
}

.scroll-container_active {
  transition: 0.3s linear;
  opacity: 1;
  z-index: 10;
  visibility: visible;
}

.dropdown__scroll-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 42px;
  transition: opacity 0.2s ease-in-out;
}

.scroll-container__scroll {
  width: 240px;
  height: 220px;
  margin-top: 40px;
  margin-left: 40px;
}

.scroll__item {
  width: 220px;
  height: 40px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.scroll__item:not(:last-child) {
  margin-bottom: 20px;
}

.scroll__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 9px 14px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color-accent);
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: transparent;
}

.scroll__link:hover {
  border-color: var(--link-color);
}

.scroll__link:active {
  border-color: #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
  outline: none;
}

.scroll__item-1_1 {
  background-image: url('../img/tintoretto-backgr.jpg');
}

.scroll__item-1_2 {
 background-image: url('../img/fridrich-backgr.jpg'); 
}

.scroll__item-1_3 {
  background-image: url('../img/leonardo-backgr.jpg'); 
}

.scroll__item-1_4 {
  background-image: url('../img/verocchio-backgr.jpg'); 
}

.scroll__item-2_1 {
  background-image: url('../img/monet-backgr.jpg');
}

.scroll__item-2_2 {
 background-image: url('../img/manet-backgr.jpg'); 
}

.scroll__item-2_3 {
  background-image: url('../img/renoir-backgr.jpg'); 
}

.scroll__item-2_4 {
  background-image: url('../img/degas-backgr.jpg'); 
}

.scroll__item-3_1 {
  background-image: url('../img/van-gogh-backgr.jpg');
}

.scroll__item-3_2 {
 background-image: url('../img/lautrec-backgr.jpg'); 
}

.scroll__item-3_3 {
  background-image: url('../img/cezanne-backgr.jpg'); 
}

.scroll__item-3_4 {
  background-image: url('../img/rousseau-backgr.jpg'); 
}

.scroll__item-4_1 {
  background-image: url('../img/munch-backgr.jpg');
}

.scroll__item-4_2 {
 background-image: url('../img/malevich-backgr.jpg'); 
}

.scroll__item-4_3 {
  background-image: url('../img/kandinskiy-backgr.jpg'); 
}

.scroll__item-4_4 {
  background-image: url('../img/shagal-backgr.jpg'); 
}

.scroll__item-5_1 {
  background-image: url('../img/balla-backgr.jpg');
}

.scroll__item-5_2 {
 background-image: url('../img/severini-backgr.jpg'); 
}

.scroll__item-5_3 {
  background-image: url('../img/stella-backgr.jpg'); 
}

.scroll__item-5_4 {
  background-image: url('../img/evola-backgr.jpg'); 
}

.simplebar-scrollbar::before {
  width: 2px;
  background-color: var(--link-color);
}

.exit-btn {
  display: none;
}

@media (max-width: 1400px) {
  .main-navigation__logo {
    margin-right: 20px;
  }

  .site-navigation__item:not(:last-child),
  .secondary-navigation__item:not(:last-child) {
    margin-right: 20px;
  }

  .search-form__input {
    width: 160px;
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .header__wrapper_gray {
    display: none;
  }

  .main-navigation__burger {
    display: flex;
  }

  .main-navigation__logo {
    margin-right: 0;
    width: 188px;
    height: 42px;
  }

  .main-navigation__search-form {
    display: block;
  }

  .search-form__icon {
    width: 29px;
    height: 29px;
  }

  .search-form__btn {
    margin-right: 0;
  }

  .main-navigation {
    position: relative;
    margin: 0;
    justify-content: space-between;
  }

  .main-navigation__site-navigation {
    padding: 37px 78px 51px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 100vw;
    height: 768px;
    top: -30px;
    bottom: 0;
    left: -75px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: opacity .3s ease-in-out;
  }

  .is-active {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }

  .site-navigation {
    flex-direction: column;
    margin-bottom: 130px;
  }

  .site-navigation__link {
    font-size: 24px;
  }

  .exit-btn {
    display: block;
    margin-bottom: 50px;
    width: 29px;
    height: 29px;
  }

  .exit-btn__icon > rect,
  .burger__icon > rect,
  .burger__icon > path {
    transition: fill 0.3s ease-in-out;
  }

  .main-navigation__burger:active > .burger__icon > rect,
  .main-navigation__burger:active > .burger__icon > path,
  .exit-btn:active > .exit-btn__icon > rect {
    fill: var(--link-color);
  }

  .site-navigation__wrapper {
    display: flex;
    flex-direction: column;
  }
 
  .site-navigation__item {
    line-height: 1;
  }

  .site-navigation__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .site-navigation__log-in-btn {
    width: 257px;
    height: 60px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .log-in-btn__icon {
    margin-right: 4px;
  }
}

@media (max-width: 576px) {
  .container_xsm {
    margin: 0;
  }

  .header__wrapper_black {
    padding: 12px 50px;
  }

  .burger__icon,
  .exit-btn__icon,
  .exit-btn {
    width: 20px;
    height: 15px;
  }

  .main-navigation__logo {
    width: 97px;
    height: 22px;
  }

  .search-form__icon {
    width: 16px;
    height: 16px;
  }
 
  .exit-btn {
    margin-bottom: 25px;
  }

  .site-navigation__link {
    font-size: 18px;
  }

  .site-navigation__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .main-navigation__site-navigation {
    padding: 28px 75px 51px;
    height: 125vh;
  }

  .site-navigation {
    margin-bottom: 30px;
  }

  .site-navigation__link {
    font-size: 16px;
  }
  
  .site-navigation__log-in-btn {
    font-size: 16px;
    width: 200px;
  }
}

@media (max-width: 320px) {
  .header__wrapper_black {
    padding: 12px;
  }

  .main-navigation__site-navigation {
    left: -37px;
  }

  .main-navigation__site-navigation {
    padding: 29px 37px;
  }

  .site-navigation__log-in-btn {
    width: 160px;
  }
}