.promo {
  position: relative;
  min-height: 800px;
  width: 100%;
  padding-top: 243px; 
  color: var(--text-color-accent);
  overflow: hidden;
}

.promo__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background-color: var(--text-color-main);
  background-image: url("../img/promo/swiper-1-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: change-bg 5s linear alternate infinite;
          animation: change-bg 5s linear alternate infinite;
  z-index: -1;
}

@-webkit-keyframes change-bg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes change-bg {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.promo__content {
  max-width: 580px;
  padding-bottom: 30px;
}

.promo__title {
  margin: 0;
  margin-bottom: 19px;
  font-weight: bold;
  font-size: 71px;
  line-height: 82px;
}

.promo__description {
  margin-bottom: 92px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: var(--text-color-accent);
}

.promo__link {
  display: inline-block;
  padding: 22px 35px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background-color: var(--link-color);
  border-radius: 100px;
  -webkit-transition: background-color 0.3s ease-in-out,
              -webkit-box-shadow 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out,
              -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out,
              background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out,
              background-color 0.3s ease-in-out,
              -webkit-box-shadow 0.3s ease-in-out;
}

.promo__link:hover {
  -webkit-box-shadow: inset 0 0 0 3px var(--link-color-light);
          box-shadow: inset 0 0 0 3px var(--link-color-light);
}

.promo__link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #FFFFFF,
              0 0 0 5px #C283F3;
          box-shadow: 0 0 0 3px #FFFFFF,
              0 0 0 5px #C283F3;
}

.promo__link:active {
  -webkit-box-shadow: inset 0 0 0 3px var(--link-color-light);
          box-shadow: inset 0 0 0 3px var(--link-color-light);
  background-color: var(--link-color-active);
}

@media (max-width: 1024px) {
  .promo {
    min-height: 768px;
    padding-top: 214px;
  }

  .promo__background {
    height: 768px;
    background-image: url("../img/promo/swiper-1-tablet.jpg");
  }

  .promo__content {
    max-width: 660px;
  }

  .promo__title {
    max-width: 580px;
    margin-bottom: 12px;
    letter-spacing: 0.7px;
  }

  .promo__description {
    margin-bottom: 134px;
  }
}

@media (max-width: 768px) {
  .promo__background {
    background-image: url("../img/promo/swiper-1-mobile.jpg");
  }
}

@media (max-width: 665px) {
  .promo__title {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .promo {
    padding-top: 77px;
    min-height: 355px;
  }

  .promo__background {
    min-height: 355px;
  }

  .promo__content {
    max-width: 100%;
    text-align: center;
  }

  .promo__title {
    font-size: 37px;
    line-height: 44px;
  }

  .promo__description {
    margin-bottom: 40px;
    font-weight: normal;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .promo__link {
    padding: 12px 19px;
    font-size: 16px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (max-width: 320px) {
  .promo__title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0px;
  }

  .promo__description {
    padding: 0 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .promo__link {
    font-size: 12px;
    line-height: 16px;
  }
}