html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  min-width: 320px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --text-color-main:  #333;
  --text-color-accent:  #FFF;
  --link-color: #9D5CD0;
  --link-color-active: #7943A4;
  --border: 1px solid #CACACA;
}

body {
  min-width: 320px;
  margin: 0;
	padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text-color-main);
}

button, input {
  font: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

p {
  font-size: 16px;
  color: var(--text-color-main);
  line-height: 2;
}

.container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 25px;
}

.btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

* {
  outline: none;
}

*:focus {
  outline: 2px solid #7943A4;
}

.section-heading {
  margin-left: 40px;
  margin-bottom: 25px;
  font-weight: normal;
  font-size: 40px;
  color: var(--main-heading-color);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 1024px) {
  .container_md {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 924px;
  }
}

@media (max-width: 768px) {
  .container_sm {
    max-width: 668px;
  }
}

@media (max-width: 576px) {
  .container_xsm {
    margin: 0 15px 50px;
  }

  .container_no-mb {
    margin-bottom: 0;
  }
}

@media (max-width: 320px) {
  .container_xsm {
    max-width: 290px;
  }

  .container_no-mb {
    margin-bottom: 0;
  }
}
